.container {
   width: 100%;
   position: relative;
}

.image-text-overlay {
   width: 200px;
   position: absolute;
   font-size: 80px;
   font-weight: bold;
   color: white;
   top: 8%;
   left: 8%;
}

@media (max-width: 768px) {
   .image-text-overlay {
      font-size: 50px;
   }
}

@media (max-width: 480px) {
   .image-text-overlay {
      font-size: 30px;
   }
}

